@charset "utf-8";
/* CSS Document */

 th {
    background-color: #d17965;
    color: white;
}

 #rcornerl {
    border-radius: 15px 0px 0px 0px;
	border-color:#FFF;
	border-top-color:2px solid #FFF;
	border-bottom: 2px solid #ddd;
 }
 
 #rcornerr {
    border-radius: 0px 15px 0px 0px;
	border-color:#FFF;
	border-top-color:2px solid #FFF;
	border-bottom: 2px solid #ddd;
 }
 
  #rcornerlf {
    border-radius: 15px 15px 0px 0px;
	border-color:#FFF;
	border-top-color:2px solid #FFF;
	text-align:center;
	border-bottom: 2px solid #ddd;
 }

 	/* Text Box design */
	.boderlessTextBox {
	width: 100%;
  border-top: none;
  border-left:none;
  border-bottom: 1px solid #d17965;
  border-right: 1px solid #d17965;
	padding: 8px 6px;
	}

	/* Borderless Table Design */
	#bltbl {  
		border-color:rgb(10, 1, 1)
	}

	/*Customized Check Box*/
	.customizedCheckBox {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 1.42857143;
		border-bottom: 1px solid #d17965;
		border-top: 1px solid #d17965;
		border-left: 1px solid #d17965;
		border-right: 1px solid #d17965;
	}