@charset "utf-8";
/* CSS Document */

/*#region Table*/

th {
  background-color: #d17965;
  color: white;
}

#rcornerl {
  border-radius: 15px 0px 0px 0px;
  border-color: #FFF;
  border-top-color: 2px solid #FFF;
  border-bottom: 2px solid #ddd;
}

#rcornerr {
  border-radius: 0px 15px 0px 0px;
  border-color: #FFF;
  border-top-color: 2px solid #FFF;
  border-bottom: 2px solid #ddd;
}

#rcornerlf {
  border-radius: 15px 15px 0px 0px;
  border-color: #FFF;
  border-top-color: 2px solid #FFF;
  text-align: center;
  border-bottom: 2px solid #ddd;
}

/*#endregion Table*/

/*#region TextBox*/

/* Text Box design */

.boderlessTextBox {
  width: 100%;
  border-top: none;
  border-left: none;
  border-bottom: 2px solid #d17965;
  border-right: 2px solid #d17965;
  padding: 8px 6px;
}

/*#endregion TextBox*/

/*#region Buttons*/

.darkButton {
  background-color: #777;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: white;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 10px;
}

.lightButton {
  background-color: white;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #777;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #777;
  border-radius: 10px;
}

/*#endregion Buttons*/

/*#region CheckBox*/

label {
  display: inline;
}

.regular-checkbox {
  display: none;
}

.regular-checkbox+label {
  background-color: #fafafa;
  border: 2px solid #d17965;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  display: inline-block;
  position: relative;
}

.regular-checkbox+label:active, .regular-checkbox:checked+label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked+label {
  background-color: #d17965;
  border: 1px solid #d17965;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

.big-checkbox+label {
  padding: 14px;
}

.big-checkbox:checked+label:after {
  font-size: 14px;
  left: 6px;
}

.tag {
  font-family: Arial, sans-serif;
  position: relative;
  top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  float: left;
  left: 40%;
}

/*#endregion CheckBox*/

#ex1Slider .slider-selection, #ex1Slider .slider-track-high {
  background: #FFF9C4;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  height: 7px;
}

#ex1Slider {
  width: 300px;
}

/* .tooltip - background of tooltip */

#ex1Slider .tooltip-inner {
  background-color: #FFF9C4;
  border-radius: 15px;
  color: #000;
  font-weight: bold;
  margin-left: -3.5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#ex1Slider .slider-handle {
  background: #FFF9C4;
  width: 16px;
  height: 16px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(13, 13, 13, 0.3);
  border: 1px solid rgba(0, 0, 0, 0);
}

/* This sets the color of the arrow that connects the tooltip to the handle */

#ex1Slider .tooltip-arrow {
  border-top-color: #fafafa;
  margin-left: -7px;
  display: none;
}

body {
  background-color: #fff;
}

.form-group {
  padding: 25px;
}

h2 {
  padding: 15px 0px 30px 0px;
}

.bdred {
  border-right-color: #d17965;
  border-bottom-color: #d17965;
  border-left-color: #FFF;
  border-top-color: #FFF;
  border-style: solid;
  border-width: 2px;
}